@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');


/* Zerando pré definições */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Baloo Bhai 2';
}

/* Cor de Fundo */

body{
    background-color:#27272B;
}

/* Alterando os links */

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #27272B;
    font-weight: 700;
    font-family: 'Baloo Bhai 2';

    box-shadow: inset 0 0 0 0 #27272B;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: 15px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* Alterando o Nav */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;


    height: 10vh;
    width: 100%;
    background-color: #E9AB0D;
    position: fixed;
    z-index: 5;

    box-shadow: 0px 2px 2px black;
}
 
/* Links do Nav */

.logoangola{
    width: 12vh;
    margin-top: 1vh;
} 

ul li a:hover{
    box-shadow: inset 110px 0 0 0 #27272B;
    color: #E9AB0D;
    border-radius: 15px;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 5vh;
}

nav ul li:last-child{
    margin-right: 2vh;
}

/* Editando a aba de Produtos */

.produtos{
    padding: 10vh 0;
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.produtos .cards .card img{
    max-width: 30vh;
}

.produtos h1{
    color: #E9AB0D;
    font-size: 7vh;
    text-transform: uppercase;

    padding-bottom: 2vh;
}

.produtos h2{
    color: #fff;
    font-size: 4vh;
    text-transform: capitalize;

    padding-bottom: 2vh;
}

.produtos h3{
    color: #fff;
    font-size: 4vh;
    text-transform: capitalize;

    background-color: #757475;
    border-radius: 10vh;

    padding: 1vh;
}


.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10vh;
    grid-row-gap: 10vh;

    text-align: center;
}

.produtos a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    border-radius: 2vh;
    padding: 0 2vh;
    max-width: 50vh;

    margin-top: 5vh;

}

.produtos a img{
    max-width: 10vh;
}

.produtos a p{
    color: #27272B;
    font-size: 1.3rem;
    font-weight: 700;
}

/* Editando o Footer */

footer{
    background-color: #E9AB0D;
    
    font-family: 'Baloo Bhai 2';
    box-shadow: 0px -1px 2px black;
}

footer ul{    
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;

    margin: 0;
}

footer ul li h3{
    font-size: 20px;
    margin-top: 0.3vh;
    line-height: 5vh;
    font-weight: 800;
    
    margin-bottom: 0;

    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

}

/* Fazendo a Responsividade */

/* Criando o Menu Responsivo */

.mobile-menu{
    display: none;
    cursor: pointer;
}

/* Fazendo o icone das três barras */

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}


@media screen and (max-width: 900px){
    body{
        overflow-x: hidden;
    }

    /* Arrumando os produtos */

    .cards{
        display: grid;
        grid-template-columns: 1fr;
        flex-wrap: wrap;
        justify-content: space-evenly;
    
        text-align: center;
    }

    /* Arrumando os Links */

    nav ul li a{
        font-size: 15px;
    }

    /* Arrumando o Footer */

    footer ul li h3{
        font-size: 2vh;
    }

    ul li a:hover{
    font-weight: 700;
    font-family: 'Baloo Bhai 2';
    box-shadow: none;
    color: #27272B;
    }

    /* Refazendo o Nav */
    .nav-list{
        position: absolute;
        top: 10vh;
        right: 0;
        width: 50vh;
        height: 92vh;

        background: #E9AB0D;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        transform: translateX(100%);
        transition: transform 0.3s ease-in;

        box-shadow: -1px 4px 5px -1px #27272B;

        padding-left: 0;
    }

    .nav-list li{
        background-color: #d49b0b;
        width: 100%;
        margin-left: 0;
        opacity: 0;
        text-align: center;
    }

    .nav-list li a{
        line-height: 10vh;
        color: #27272B;
    }

    nav ul li:last-child{
        margin-right: 0;
    }
    .mobile-menu{
        display: block;
    }

    .nav-list.active{
        transform: translateX(0);
    }

    nav{
        justify-content: space-between;
    }

    nav ul li a{
        color: #27272B;
    }

    /* Transformando as três barras em um X */

    .mobile-menu.active .line1{
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2{
        opacity: 0;
    }

    .mobile-menu.active .line3{
        transform: rotate(45deg) translate(-5px, -7px);
    }

    /* Animação usando JS */

    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }

}